.title {
     margin: 0;
     text-align: center;
     padding: 0 0 1.5em 0;
     font-size: 10em;
     font-family: Arcapulse;
     background-image: url("../image/concept1.jpg");
     color: white;
      -webkit-text-stroke: 0.5px #0a3468;
}

.subtitle {
     margin-top: -1.5em;
     text-align: center;
     font-family: Railway;
     font-size: 3.75em;
     color: #efd913;

}

body {
     margin: 0;
     background-color: #2A5462;
}

body p {
     margin-top: 2em;
     font-size: 3em;
     letter-spacing: 0.15em;
     color: white;
     font-family: Railway;
     font-weight: 100;
}

body img {
     margin: 0 1em 0em 1em;
}
@font-face {
    font-family: Arcapulse;
    src: url(font/Arcapulse.otf);
}

@font-face {
     font-family: MonkeySnake;
     src: url(font/MonkeySnake.ttf);
}

@font-face {
     font-family: Railway;
     src: url(font/Railway.otf);
}
