#Defenders td{
 width:100px;
 text-align:center;
 font-size: 1em;
 text-decoration: none;
 padding: 2px;
}
#Defenders h1{
    text-align: center;
    font-family: Arcapulse;
    font-weight: normal;
    font-size: 3.5em;

}

#Defenders p{
    text-align: center;
    font-size: 1.25em;
}

th {
     font-size: 1.5em;
     border: 1px solid white;
}

a.version {
          background: #FDFF84;
          margin: 1vw;
          padding: 0.5vh 0.5vw;
          font-size: 2vw;
          text-decoration: none;
          color: #10213D;
          border-radius: 1em;
          -webkit-transition: border-radius 1s, background 1s, color 1s;
         transition: border-radius 1s, background 1s, color 1s;
}

a.version:hover {
     background: #FDFF22;
     color: #155F68;
     border-radius: 0.5em;
     -webkit-transition: border-radius 1s, background 1s, color 1s;
    transition: border-radius 1s, background 1s, color 1s;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0px;
    height: 100%;
    width:100%;
    padding:0;
    color: white;
    font-family: Railway;
}

@font-face {
     font-family: Railway;
     src: url(font/Railway.otf);
}

@font-face {
    font-family: Arcapulse;
    src: url(font/Arcapulse.otf);
}
